name: Full CI
on:
  push:
    branches:
      - main
      - dev
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre_checks:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6

      - name: Install deps & build base images
        run: uv sync --all-extras

      - name: Check linting
        run: uv run ruff check .

      - name: Check type hints
        run: uv run basedpyright .

      - name: Check Python compatibility
        run: uv run vermin --target=3.11- --no-tips --violations .

      - name: Check security
        run: uv run pip-audit .

      - name: Final pre-commit enforcement
        run: uv run pre-commit run --all-files

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install deps & build base images
        run: uv sync --all-extras

      - name: Run the tests
        run: uv run pytest
